{
  "app_host" : "127.0.0.1",
  "app_port" : "9090",
  "app-name" : "mini-POS",
  "database" : {
    "mysql": {
      "host": "localhost",
      "port": "3306",
      "username": "root",
      "password": "",
      "database": "inventory-kuncie"
    }
  }
}